/**
 * CSS style for GamePanel.class
 */
.GamePanel {
	background-color: #FF0000;
	/* width: 483px;
	height: 500px; */
	background-image: url('images/board/board.png');
	background-repeat: no-repeat;
	margin: 0px auto;
	-moz-border-radius: 10px; /* Firefox 3.6-, removed in Firefox 13 */
	-webkit-border-radius: 10px; /* Safari 4-, Chrome 3- */
	border-radius: 10px;
	/* Firefox 4+, Safari 5+, Chrome 4+, Opera 10.5+, IE9+ */
}

img.Chess-Selected {
	background: url('images/select.png') no-repeat;
}